body{
	/*background-color:rgb(39,162,192);*/
	/*background-color:hsl(239,90%,75%);*/
	background:linear-gradient(white,black);
	/*background-color:black;*/
}

.nav-wrapper{
	background-color:red;
}

.headertabs{
	color:black;
	font-weight:bold;
	font-size:1.2em;
}

.message{
	color:black;

}

.card-content{
	color:black;
	line-height:120%;
	font-size:1.2em;	
}

.header{
	color:rgb(255,143,62);
	padding-top:5px;
	font-style: italic;
	animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {text-shadow: 10px 20px 30px white;}
}

.warden-pic{
	background-image:url("pen.jpg");
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:content;
}

.panel{
	height:416px;
}

.message{
	padding:5px;
	margin-top:5px;
}

.home{
	background-color:white;
}

.profile-pics{
	border-radius:50%;
}

.left-column{
	background-color:rgb(58,209,194);
	padding:20px;
	color:black;
	border-radius: 10px;
	margin-right:0px;
}

.right-column{
	background:url("homebackground2.jpg");
	color:black;
	border-radius: 10px;
	overflow:auto;
}

#Message-of-warden{
	position:absolute;
	left:10%;
	width:80%;
	border-radius:5px;
	border: 3px outset black;
	box-shadow: 15px 20px 30px brown;
	margin-top:15px;
	margin-bottom:150px;

}




